:root {
  --base-size: 300px;
  --cube-size: 2;
  --face-size: calc(var(--base-size) / var(--cube-size));
}
.cubeContainer {
  width: var(--base-size);
  height: var(--base-size);
  perspective: 1500px; /* Higher number = flatter perspective */
}

/* 2. The Cube Wrapper */
.cube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /* Allows nested elements to stay 3D */
  animation: spin 12s linear infinite; /* Optional: Makes it spin */
}

/* 3. Base Styles for All Faces */
.face {
  position: absolute;
  width: var(--face-size);
  height: var(--face-size);
  border:  1px solid #000;
   box-shadow: 0 0 0 3px #000;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  border-radius: 10px;
  user-select:none;
  transform:rotateX(var(--degx)) rotateY(var(--degy)) translateZ(calc(var(--base-size)/2)) translateX(var(--x)) translateY(var(--y));
}


/* @keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(720deg) rotateY(360deg);
  }
} */